/* Background image settings */
body {
  background-image: url('../public/background.jpg'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Ensure the background covers the entire viewport height */
  overflow-x: hidden;
}


.App {
  text-align: center;
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 10px;
}

.menu-item {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: center;
}


